.text {
  font-family: monospace;
}

.calculator{
  padding: 40px;
  margin: 30px;
  width: 350px;
  margin-top: 100px;
  border-radius: 7px;
  padding-left: 60px;
  padding-right: 60px;
}

.bigDiv {
  margin: auto;
  display: flex;
  justify-content: center;
}

.display{
  background-color: rgb(146, 148, 155);
  font-size: 50px;
  height: 60px;
  border-radius: 7px;
  width: 260px;
  color:rgb(55, 55, 59);
  margin-left: 8px;
}
body html {
  width: fit-content;
  height: 100%;
  margin: 0;
}

.button {
  width: 75px;
  height: 55px;
  background-color: rgb(251, 247, 243);
  margin: 3px;
  border-color: rgb(239, 222, 222);
  color:rgb(177, 51, 74);
  border-radius: 7px;
  cursor: pointer;
}

.allTheButtons {
  display: flex;
  border-radius: 7px;
  width: max-content;
  margin-left: -5px;
}

.zero {
  width: 160px;
}

.operators {
  display: flex;
  flex-direction: column;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.displayContainer {
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 7px;
  background-color:rgb(242, 175, 198);
  display: flex;
  width: 280px;
}

.clear, .plusMinus {
  background-color: rgb(242, 175, 198);
  border-color:rgb(242, 175, 198);
  color:rgb(255, 252, 252);
}

.percentage {
  background-color:rgb(251, 221, 226);
  color:rgb(255, 252, 252);
  border-color:rgb(251, 221, 226);
}
.myMelody {
  height: 250px;
  width: auto;
  margin-top: -210px;
  margin-left: 220px;
}

.milkshake {
  height: 100px;
  width: auto;
  margin-top: -1800px;
  margin-left: -70px;
}

.strawberry {
  height: 160px;
  width: auto;
  margin-left: 280px;
  margin-top: -80px;
}

.background {
  position: absolute;
  z-index: 0;
  width: 370px;
  height: 450px;
  opacity: 0.5;
  background-color: rgb(255, 238, 239);
  padding: 40px;
  margin-left: -65px;
  border-radius: 15px;
  margin-top: -50px;
}

.notBackground {
  position: absolute;
  z-index: 1;
}

.body {
  background-color: rgb(255, 253, 253)
}